.fragment-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.fragment-container.hidden {
    display:none !important;
    height: 0 !important;
    width: 0 !important;
}